<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Inject my business za.net.chat.jt.actions.services class to the za.net.chat.jt.actions -->
    <bean id="services" class="za.net.chat.jt.actions.services.Services">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

	<!-- The singleton hibernate session factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

    <!-- Spring's hibernate transaction manager, in charge of making hibernate sessions/txns -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <!-- So classes/functions with @Transactional get a hibernate txn -->
	<tx:annotation-driven />
	

	
</beans>
